@model IEnumerable<Bulky.Models.ViewModels.OrderVM>


<div class="container p-4">
    <div class="row p-3">
        <div class="col-6">
            <h2>Order List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Upsert" asp-controller="Product" class="btn btn-info"><i class="bi bi-plus-circle"></i>&nbsp;Create New Product</a>
        </div>
    </div>
</div>

<table id="tblData" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Status</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    @*<tbody>
    @foreach(var data in Model)
    {
    <tr>
    <td>@data.Title</td>
    <td>@data.Description</td>
    <td>@data.Author</td>
    <td>@data.ISBN</td>
    <td>@data.Price</td>
    <td>@data.Category.Name</td>
    <td>
    <partial name="_ButtonPartialProduct" model="@data.Id" />
    </td>
    </tr>
    }
    </tbody>*@
</table>

@section Scripts{
    <script src="~/js/order.js"></script>
}



